node_modules/
.next/
out/
build/
dist/

# env
.env
.env.local
.env.*.local

# logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Prisma SQLite db
prisma/dev.db
prisma/dev.db-journal
prisma/migrations/

# uploads
public/uploads/

*.tsbuildinfo
